body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.acceuilnav:hover, .boutiquenav:hover{
  animation: changeBackgroundColor 4s infinite;
}

@keyframes changeBackgroundColor {
  0% {
    color: #488dd1;
  }
  50% {
    color: #3cedd2;
  }
  100% {
    color: #6c849c;
  }
}





